<html>
    <head>
            <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#212121" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Customer</title>

</head>
    <body>
<div class="card" style="width: 18rem;">
        <img src="../public/kautuk.jpg" height="150" width="150">
        <div class="card-body">
                <% var keys = Object.keys(user) %>
                <% console.log(keys[0])%>
                <% keys.forEach( function(key) { %>   
          <h5 class="card-title"><%=user[key].name%></h5>
          <h8>Past Purchases: </h8>
          <p><%=user[key].product_purchased%></p>
          <%var key_=keys[0]%>
          <button onclick="attended('key_','<%=user[key].name%>')">Attended</button>  
          <%})%>
        
        </div>
      </div>
      </body>
      <script>
var config = {
  apiKey: "AIzaSyDqTKSOn-SOQ_PMYH4icT5LfswQFwPqiUM",
  authDomain: "hackathon-4febb.firebaseapp.com",
  databaseURL: "https://hackathon-4febb.firebaseio.com",
  projectId: "hackathon-4febb",
  storageBucket: "hackathon-4febb.appspot.com",
  messagingSenderId: "22239613539"  
  };
  firebase.initializeApp(config);
      function attended(customer,customerKey){
        firebase.database().ref('attended/').push({
    customer:customerKey
    });
    firebase.database().ref('being-attended/').child(customer).remove(function () {
    console.log("removed")
    location.href = 'http://localhost:4000/allCustomer';
  });
      }
      </script>
      </html>